[user]
        name = Theo Keane
        email = <relevant default email for this machine>
        signingkey = .ssh/<name_of_key>.pub
[core]
        excludesfile = /path/to/home/.gitignore
        editor = code
[color]
        ui = auto
[gpg]
        format = ssh
[commit]
        gpgsign = true
[rerere]
        enabled = true
[maintenance]
        # repo = /path/to/repo