[includeIf "gitdir:/path/to/home/w/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:/path/to/home/p/"]
    path = ~/.gitconfig-personal
[core]
        excludesfile = /path/to/home/.gitignore
        editor = vim
        autocrlf = input
        pager = delta
        fsmonitor = true
        untrackedCache = true
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[color]
        ui = auto
[gpg]
        format = ssh
[commit]
        gpgsign = true
[rerere]
        enabled = true
        autoupdate = true
[init]
        defaultBranch = main
[rebase]
        updateRefs = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true
[merge]
        conflictstyle = diff3
[diff]
        colorMoved = true
        algorithm = histogram
        mnemonicPrefix = true
        renames = true
[help]
        autocorrect = prompt
[maintenance]
        # repo = /path/to/repo
